/**
Layout
*/

/* fuentes */
@font-face {
    font-family: "NotoSans-Regular";
    src: url("./fonts/NotoSans-Regular.ttf");
}

/* raiz */
:root {
    /* color-scheme: light dark; */
    --dark-background-color: #222222;
    --dark-font-color: #eeeeee;
    --dark-font-color-a: #eeeeee;
    /* paleta general */
    --color-2: #2b1f1f;
    --color-3: #544343;
    /* fonts */
    --font-size: 20px;
    line-height: calc(var(--font-size) * 1.5);
    --font-color-a: #ffffff;
    font-family: "NotoSans-Regular";
    font-size: var(--font-size);
}

* {
    /* modelo de caja alternativo */
    box-sizing: border-box;
}

/* resetear margen y borde */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
ul,
li {
    margin: 0;
    padding: 0;
}

/* expandir alto del html y body */
html,
body {
    min-height: 100%;
}
/* genericos */
ul {
    list-style: none;
}
/* aplicar flex */
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* tema oscuro */
[data-dark] {
    color: var(--dark-font-color);
    background-color: var(--dark-background-color);
}

[data-dark] a {
    color: var(--dark-font-color);
}
/* envoltorio para aplicar ancho máximo */
/* .wrap {
} */

/* estructura */
.header {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    min-height: 80px;
    background-color: var(--color-2);
    padding-inline: 10px;
}
.header__isologo {
    display: flex;
    align-items: center;
}
.header__logo-link {
    display: flex;
    align-items: center;
    margin-inline-end: 15px;
}
.header__logo-link > img {
    width: 100%;
    min-width: 180px;
    height: 50px;
}
.header__titulo {
    color: #eeeeee;
}
.header__nav {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}
.header__nav-lista {
    display: none;
    background-color: var(--color-2);
    flex-direction: column;
    gap: 10px;
}
.header__nav-boton-abrir,
.header__nav-boton-cerrar {
    display: flex;
    align-self: center;
    width: 45px;
    height: 45px;
    background-image: url(./images/menu.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: transparent;
    background-size: 100%;
    border: none;
}
.header__nav-boton-cerrar {
    /* se modifican algunos atributos */
    background-image: url(./images/menu-close.svg);
    display: none;
}

/* 
 lo indicamos solamente para moviles
 de esta manera por su complejidad
 de interaccion y que no sea por defecto
 */
@media (max-width: 767px) {
    /* interaccion con mouse */
    .header__nav:hover  > .header__nav-lista,
    /* interaccion con TAB -> :focus-within -> algun elemento interno en foco */
    .header__nav:focus-within  > .header__nav-lista {
        display: flex;
        flex-direction: column;
        padding-block: 40px;
        align-items: center;
        position: fixed;
        top: 80px;
        right: 0px;
        left: 0;
        width: 100vw;
    }
    /* interaccion con mouse */
    .header__nav:hover  > .header__nav-boton-abrir,
    /* interaccion con TAB -> :focus-within -> algun elemento interno en foco */
    .header__nav:focus-within > .header__nav-boton-abrir {
        display: none;
    }
    /* interaccion con mouse */
    .header__nav:hover  > .header__nav-boton-cerrar,
    /* interaccion con TAB -> :focus-within -> algun elemento interno en foco */
    .header__nav:focus-within > .header__nav-boton-cerrar {
        display: flex;
    }
}

.header__nav-lista > li > a {
    text-decoration: none;
    color: var(--font-color-a);
    padding-inline-start: 15px;
}

/* espacio blanco */
.main-space {
    display: block;
    position: relative;
    height: 120px;
}

/* footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: baseline;
    background-color: var(--color-3);
    border-top: 1px solid var(--color-2);
    padding-inline: 10%;
    padding-block: 10px;
}
.footer__lista {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    font-size: 0.9rem; /* relativo al tamaño fuente en raiz */
    text-align: center;
    list-style: none;
    color: var(--font-color-a);
    padding-block: 20px;
    /****/
    a {
        color: var(--font-color-a);
    }
}
.footer__lista-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* img */
    > img {
        width: auto;
        height: 50px;
    }
}

/* Medias queries */
@media (min-width: 768px) {
    .header {
        padding-inline: 5%;
    }
    .header__nav {
        display: flex;
        align-items: center;
    }
    .header__nav-lista {
        display: flex;
        /* se muestra en fila ya que por defecto
         se estableció como columna */
        flex-direction: row;
    }
    /* se muestra solo en pantalla pequeña */
    .header__nav-boton-abrir,
    .header__nav-boton-cerrar {
        display: none;
    }
    .main {
        padding-inline: 10%;
    }
    .footer {
        padding-inline: 5%;
    }
}
/* ***************************************** */
/* PAGES *********************************** */
/* ***************************************** */

/* ----------------------------------------- */
/* index.html ****************************** */
/* ----------------------------------------- */

.main-index__imagen {
    display: flex;
    width: 100%;
    height: 400px;
    > img {
        width: 100%;
        object-fit: cover;
        object-position: center;
    }
}
/* home proyecto presentación */
.index-proyecto {
    padding-block: 10px;
    padding-inline: 15px;
}
.index-proyecto__titulo,
.index-desc__titulo {
    text-align: center;
    margin-block: 40px 40px;
    padding-block: 25px;
    border-top: 1px solid var(--color-3);
    border-bottom: 1px solid var(--color-3);
}
.index-proyecto__parrafo {
    text-align: center;
    margin-block-end: 15px;
}
/* home proyecto descripcion */
.index-desc {
    padding-block: 10px 40px;
    padding-inline: 15px;
}
.index-desc__bloques {
    display: flex;
    flex-direction: column;
}
.index-desc__bloque {
    width: 100%;
    padding-block-end: 35px;
    > h3 {
        text-align: center;
        margin-block: 50px 25px;
    }
}
.index-desc__bloque--bg {
    background-color: #f9f9f9;
}
.index-desc__fig {
    width: 200px;
    height: 200px;
    margin-block: 30px;
    margin-inline: auto;
    /* img */
    > img {
        width: 100%;
        object-fit: cover;
        object-position: center;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        border: 4px solid #fff;
        border-radius: 999px;
    }
}
.index-desc__parrafo {
    text-align: center;
}

/* Medias queries */
@media (min-width: 768px) {
    .index-proyecto__parrafo {
        padding-inline: 10%;
    }
    .index-desc__bloques {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .index-desc__bloque {
        padding-inline: 30px;
        width: calc(50% - 10px);
    }
    .index-desc__bloque > h3 {
        text-align: center;
        margin-block-end: 20px;
    }
    .index-desc__bloque--bg {
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
        border: 1px solid #ffffff;
    }
}

@media (min-width: 1024px) {
    .index-desc__bloques {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }
    .index-desc__bloque {
        padding-inline: 30px;
        width: calc(33% - 15px);
    }
}

/* ----------------------------------------- */
/* modelos.html **************************** */
/* ----------------------------------------- */

.main-modelos {
    padding-inline: 15px;
}
.main-modelos__titulo {
    text-align: center;
    margin-block: 40px 40px;
    padding-block: 25px;
    border-top: 1px solid var(--color-3);
    border-bottom: 1px solid var(--color-3);
}
.main-modelos__desc {
    text-align: center;
    padding-block: 10px 40px;
}
.modelos-article {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-block: 10px;
    padding-inline: 10px;
    margin-block-end: 30px;
}
.modelos-article--color {
    background-color: #eeeeee;
}
.modelos-article__imagen {
    width: 100%;
}
.modelos-article__imagen > img {
    width: 100%;
    object-fit: contain;
    object-position: center;
}
.modelos-article__info {
    width: 100%;
    padding-block: 20px 20px;
}
.modelos-article__titulo {
    margin-block-end: 20px;
}
.modelos-article_parrafo {
    margin-block-end: 25px;
}
.modelos-article__sub-titulo {
    margin-block: 10px 20px;
}
.modelos-article__lista > li {
    display: flex;
    margin-block: 10px;
    gap: 15px;
}
.modelos-article__boton {
    color: var(--font-color-a);
    font-size: 0.9rem;
    background-color: var(--color-2);
    padding-inline: 15px;
    padding-block: 10px;
    margin-block: 15px;
    border: var(--color-3);
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Filtro */
.modelos-filtro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block-end: 20px;
    gap: 20px;
}
.modelos-filtro label {
    padding: 5px 10px;
    background-color: #eee;
}
.modelos-filtro button {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.9rem;
    padding: 10px 10px;
    color: #fff;
    background-color: var(--color-3);
    border: 0;
    border-radius: 6px;
}
.modelos-filtro select {
    font-size: 1rem;
    height: 35px;
    padding-inline: 10px;
}
.modelos-filtro__info-m2 {
    display: inline-block;
    text-align: right;
    width: 50px;
}
/* popup */
.popup {
    display: none;
    position: fixed;
    top: 80px;
    left: 5%;
    right: 5%;
    background-color: var(--color-3);
    width: 90%;
    height: 100%;
    z-index: 99;
}
/* Medias queries */
@media screen and (min-width: 768px) {
    .main-modelos {
        padding-inline: 10%;
    }
    .modelos-article {
        display: flex;
        flex-direction: row;
    }
    .modelos-article__imagen {
        width: 40%;
        > img {
            width: 100%;
            object-fit: contain;
            object-position: center;
        }
    }
    .modelos-article__info {
        width: 60%;
    }
}

/* ----------------------------------------- */
/* contacto.html ****************************** */
/* ----------------------------------------- */

.main-contacto {
    padding-inline: 15px;
}
.main-contacto__titulo {
    text-align: center;
    margin-block: 40px 40px;
    padding-block: 25px;
    border-top: 1px solid var(--color-3);
    border-bottom: 1px solid var(--color-3);
}
.main-contacto__desc {
    text-align: center;
    padding-block: 10px 40px;
}
.main-contacto__formulario {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    width: auto;
}
.main-contacto__formulario > label {
    padding-block: 10px;
}
.main-contacto__formulario > input {
    font-size: 1rem;
    padding-inline: 5px;
    padding-block: 10px;
    height: auto;
    margin-block-end: 10px;
}
.main-contacto__formulario > textarea {
    font-size: 1rem;
    font-family: inherit;
    padding-inline: 5px;
    padding-block: 10px;
    height: 300px;
    margin-block-end: 10px;
}
.main-contacto__formulario > div {
    display: flex;
    gap: 10px;
    margin-block: 10px;
}
.main-contacto__formulario > div > button {
    cursor: pointer;
    width: calc(50% - 5px);
    height: 45px;
    color: var(--font-color-a);
    font-size: 1rem;
    background-color: var(--color-2);
    padding-inline: 15px;
    padding-block: 10px;
    margin-block: 15px;
    border: var(--color-3);
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.main-contacto__formulario > div > button:hover {
    background-color: var(--color-2);
}
/* Medias queries */
@media screen and (min-width: 768px) {
    .main-contacto {
        padding-inline: 10%;
    }
    .main-contacto__desc {
        padding-inline: 10%;
    }
    .main-contacto__formulario {
        width: 60%;
    }
}
